#container {
    display: grid;
    position: relative;
    height: 800px;
    width: 800px;
    margin: auto;
    margin-bottom: auto;
    border-style: solid;
    border-color: black;
    background-color: white;
}

.newDiv {
    height: 1fr;
    width: 1fr;
    margin:auto;
    background-color:white;
}

body {
    background-color: rgb(201, 215, 230);
    display: block;
    text-align: center;
}

button {
    margin: 20px;
    width: 170px;
    height: 30px;
    border-radius: 15px;
    background-color: whitesmoke;
}

button:hover {
    transform: scale(1.1);
    border-color: gold;
    border-style: solid;
    outline: none;
}

